.topnav {
	width:93.85%;
	border-top: 2px solid #08faec;
	border-right: 2px solid #08faec;
	border-left: 2px solid #08faec;
	border-bottom: 2px solid #08faec;
	margin-top:-0.6%;
	margin-left:-0.6%;
	overflow: hidden;
	background-color:#74c385;
	padding-left: 7%;

}

.topnav a {
	padding: 6px 4px 0px 16px;
	margin-left: 10.6%;
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #08faec;
	color: black;
}

.sidenav {
	border-top: 2px solid #08faec;
	border-right: 2px solid #08faec;
	border-left: 2px solid #08faec;
	border-bottom: 2px solid #08faec;
	margin-top: ;
    height: 92.3%;
    width: 10%;
	top: 0;
    left: 0;
    position: fixed;
    background-color: #74c385;
	margin-top:3.5%;
}

.sidenav a {
	margin-top:20%;
    padding: 35px 8px 35px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
  background-color: #08faec;
  color: black;
}