@font-face { font-family: Coolvetica; src: url('coolvetica.ttf'); }
.Coolvetica { font-family:  Coolvetica; font-size: 4.2em; }
@font-face { font-family: Cosima; src: url('Cosima.otf'); }
.Cosima { font-family:  Cosima; font-size: 4.2em; }

body{
	margin: 0;
	padding: 0;
	height: auto;
}
.topnav {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 1.5em;
	background-color: #009A92;
	height: 100%;
	text-align: center;
	border-bottom: 1px solid black;
}

.topnav a:hover {
	background-color: #007B75;
}
.topnav > a{
	text-decoration: none;
	font-size: 1em;
	color: #EFF8F8;
	padding: 1.5em;
	margin: 0;
}
