@font-face { font-family: Coolvetica; src: url('../font/coolvetica.ttf'); }
.Coolvetica { font-family:  Coolvetica; font-size: 4.2em; }
@font-face { font-family: Cosima; src: url('../font/Cosima.otf'); }
.Cosisma { font-family:  Cosima; font-size: 4.2em; }
@font-face { font-family: KeepCalm; src: url('../font/KeepCalm.ttf'); }
.KeepCalm { font-family:  KeepCalm; font-size: 4.2em; }

@font-face { font-family: champagne; src: url('../font/ChampagneBold.ttf'); }


html{
	font-family:KeepCalm;
	height:100%;
	width:100%;
		background-image: url("background.jpg");
}

body {
	  overflow-x:hidden;
		background-color: transparent;
}

/* login */
div.login{
	height:auto;
	border: 2px solid #007B75;
	max-width:25%;
	float:center;
	background-color:#EFF8F8;
	text-align:center;
	margin: 5% auto;
	border-radius: 15px;
	font-family: champagne;
	color: #007B75;
}



div.login1{
	height:auto;
	border: 2px solid #08faec;
	max-width:35%;
	float:center;
	background-color:#74c385;
	text-align:center;
	margin: 0 auto;
	border-radius: 15px;
	margin-top:-2%;
}


input[type=text], input[type=password] {
  max-width: 75%;
  max-height: 5%;
  padding: 15px 23px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
	border-radius: 5px;

}

label.error{
  color:red;
  max-width: 40%;
}

div.container{
  margin-top:8%;
	border-radius: 15px;
}

.avatar{
	margin: 3%;
	height: 40%;
	width: 40%;
	border: 1px solid black;
}

/* Tabellen */

div.table{
margin-left:5%;
margin-bottom: 5%;
padding-top: 4%;
}

div.tableGraphs{
	margin-left:5%;
	margin-bottom: 5%;
	padding-top: 4%;
z-index: -1;
}

table.incidentenDetails{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}
table.incidenten{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

table.gebruikers{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

table.gebruikerDetails{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

table.configuratieDetails{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

table.Graphs{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

div.departments{
margin-left:30%;
margin-bottom: 5%;
padding-top: 4%;
}

table.departments{
	border: 1px solid black;
  color: black;
  width: 90%;
	border-collapse: collapse;
}

th{
  border: 2px solid black;
  padding: 10px;
  background-color:#009A92;
	color: #EFF8F8;
}

td{
  border: 2px solid black;
  padding: 10px;
}

tr:nth-child(even){
background: #ffffff;
font-weight:none;
}

tr:nth-child(odd){
	background: #CFEBEB;
	font-weight:none;
}

i.fas.fa-external-link-alt {
    color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 30px;
		text-align: center;
}

i.fas.fa-sort-down{
	color:white;
}

img.return{
	margin-left:2%;
	max-height: 50px;
	max-width: 50px;
}


p.profielfields{
	font-weight:bold;
		font-style: italic;
	color: white;
		padding: 0px 20px 1px 20px;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.persooninfo{
		padding: 0px 20px 1px 20px;
	color: black;
}
/* FAW */
td.vraag{
  border: 2px solid black;
  padding: 10px;
  background-color:#009A92;
	color:black;
	font-weight: bold;
		font-style: italic;
}

td.antwoord{
  border: 2px solid black;
  padding: 10px;
	color:black;

}


/* Urgency opmaak */
p.nuAfhandelen{
	color:#f3102b;
	font-weight:bold;
}

p.urgent{
	color:#f78d03;
	font-weight:bold;
}

p.afhandelen{
	color:#ebd834;
	font-weight:bold;
}

p.wacht{
	color:grey;
	font-weight: bold;
}

p.geen{
	color:green;
	font-weight:bold;
}

p.fout{
	color:brown;
	font-weight:bold;
}

p.nttw{
	color:blue;
	font-weight:bold;
}

p.PG{
	color:#ffffff;
	font-weight:bolder;
	text-decoration: underline;
		padding: 0px 20px px 20px;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.wachtwoord{
	color:red;
	font-size: 13px;
}
a.gebruikers {
	text-decoration: none;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}



.btn{
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn:hover{
background-color: #007B75;
  border: 1px solid black ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.gebruiker{
	margin-top: 30%;
	margin: auto;
	background: #74c385;
	width: 35%;
	border: 2px solid #08faec;
}

select.selectDepartment{
	min-width:50px;
}

h1.meldingerror{
	color:grey;
	float:center;
	font-style: italic;
}

h1.form{
	color:white;
	font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* delete */
.deletebtn{
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
	float:right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
margin-top:-5.5%;
margin-right: 9.5%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.deletebtn:hover{
	background-color: #007B75;
	  border: 1px solid black ;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	    margin-bottom: 2%;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


div.geslachtGraph{
	width:40%;
}
div#pieSex{
	width: 95%;
	 height: 40%;
}
div#pieAfdeling{
	width: 95%;
	 height: 40%;
}
div#pieType{
	width: 95%;
	 height: 40%;
}
div#chart_div{
	width: 95%;
	 height: 40%;
}
div#pieConfiguraties{
	width: 95%;
	 height: 40%;
 }
 div#userincidentChart{
 	width: 95%;
 	 height: 40%;
  }
 .editpassbtn{
 background-image: linear-gradient(#00c4bb,#005b57);
   border: 1px solid black;
   color: white;
  padding: 15px 32px 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
	 margin-left:1%;
     margin-bottom: 2%;
		 border-radius: 10px;
		 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .editpassbtn:hover{
 background-image: linear-gradient(purple,maroon);
   border: 1px solid ;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
     margin-bottom: 2%;
		 		 border-radius: 10px;
				 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .fa-user-tie {
	 font-size: 6em;
	 margin-top: 20px;
	 color: black;
 }

 /* opmaak van de "Comment" button */
 .commentbtn{
width:100%;
 	background-color: #009A92;
   border: 1px solid black;
 	border-radius: 5px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
     margin-bottom: 2%;
 		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .commentbtn:hover{
	 width:100%;
 background-color: #007B75;
   border: 1px solid black ;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
     margin-bottom: 2%;
 		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }


/* opmaak terugknop */
.backbtn{
	width:13.5%;
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.backbtn:hover{
background-color: #007B75;
  border: 1px solid black ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.typeradio{
text-align:left;
display:inline;
white-space: normal;
}

.list{
	width:80%;
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.list:hover{
		width:80%;
background-color: #007B75;
  border: 1px solid black ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin-bottom: 2%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.deletebtn1{
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
	float:right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
margin-top:-6.8%;
margin-right: 49%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.deletebtn1:hover{
	background-color: #007B75;
	  border: 1px solid black ;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	    margin-bottom: 2%;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.backbtn1{
	width:13.5%;
	background-color: #009A92;
  border: 1px solid black;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:-6.8%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.backbtn1:hover{
background-color: #007B75;
  border: 1px solid black ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
margin-top:-6.8%;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
