@font-face { font-family: LemonMilk; src: url('Font/LemonMilk.otf'); }
.LemonMilk { font-family:  LemonMilk; font-size: 4.2em; }

html{
	font-family:Century Gothic;
	height:100%;
	width:100%;
	background:#f9f9f9;
}

/* login */
div.login{
	height:auto;
	border: 2px solid #08faec;
	max-width:35%;
	float:center;
	background-color:#74c385;
	text-align:center;
	margin-bottom: 5%;
	margin: 0 auto;
	border-radius: 15px;
}


input[type=text], input[type=password] {
  max-width: 75%;
  max-height: 5%;
  padding: 15px 23px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;

}

label.error{
  color:red;
  max-width: 40%;
}

div.container{
  margin-top:8%;
	border-radius: 15px;
}

.avatar{
	margin: 3%;
	height: 40%;
	width: 40%;
}

/* Tabellen */

div.table{
margin-left:11%;
margin-bottom: 5%;
}

table.incidentenDetails{
  border: 1px solid black;
  color: black;
  width: 100%;
  overflow:auto;
}

table.incidenten{
  border: 1px solid black;
  color: black;
  width: 100%;
  overflow:auto;
}

table.gebruikers{
  border: 1px solid black;
  color: black;
  width: 100%;
  overflow:auto;
}

table.gebruikerDetails{
  border: 1px solid black;
  color: black;
  width: 100%;
  overflow:auto;
}

table.configuratieDetails{
  border: 1px solid black;
  color: black;
  width: 100%;
  overflow:auto;
}


th{
  border: 3px solid black;
  padding: 10px;
  background-color:#74c385;
}

td{
  border: 2px solid black;
  padding: 10px;
}

tr:nth-child(even){
background: #ffffff;
font-weight:bold;
}

tr:nth-child(odd){
	background: #e0e0e0;
	font-weight:bold;
}

i.fas.fa-external-link-alt {
    color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 30px;
		text-align: center;
}

img.return{
	max-height: 75px;
	max-width: 75px;
}


p.profielfields{
	font-weight:bold;
	color: black;
}

/* Urgency opmaak */
p.nuAfhandelen{
	color:#f3102b;
	font-weight:bold;
}

p.urgent{
	color:#f78d03;
	font-weight:bold;
}

p.afhandelen{
	color:#ebd834;
	font-weight:bold;
}

p.wacht{
	color:grey;
	font-weight: bold;
}

p.geen{
	color:green;
	font-weight:bold;
}

p.PG{
	color:#ffffff;
	font-weight:bolder;
}

a.gebruikers {
	text-decoration: none;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}


.oudemeldingen{
    border-radius:30px;
    border: 2px solid black;
    padding-left: 0.3%;
    padding-right: 0.3%;
    margin-left: 83.3%;
    margin-top: 4.5%;
    position: fixed;
		background-color:#74c385;
}

.btnp{
    margin-left: 35%;
    margin-bottom: 2%;
}

.gegevens{
    border-radius:30px;
    border: 2px solid black;
    padding-left: 0.3%;
    padding-right: 0.3%;
    margin-left: 10.5%;
    margin-top: 4.5%;
    position: fixed;
		background-color:#74c385;
}

.gebruiker{
	margin-top: 30%;
	margin: auto;
	background: #74c385;
	width: 35%;
	border: 2px solid #08faec;
}
